* {margin:0 auto;padding:0px;border-width:0px;}

body{
	font-size:16px;
	font-family:arial,AR PL UMing TW,"細明體";
	font-weight:normal;
	color:#000000;
	text-align:justify;
	letter-spacing:1px;
	line-height:130%;
	font-variant-numeric: lining-nums;
}
table{
	font-size:16px;
	font-family:arial,AR PL UMing TW,"微軟正黑體";
	text-align:left;
	position: absolute;
	border-collapse:collapse;
	padding: 0px;
	border:3px solid #000000;
}
caption{
	font-size:20px;
	font-family:arial,Sans Serif,Microsoft YaHei,"細明體";
	/*font-weight: bold;
	color:#9D37FF;*/
	/*color:#6F0000;*/
	line-height:130%;
}
th{
	font-size:18px;
	font-family:arial,sans serif,Microsoft YaHei,"細明體";
	font-weight:normal;
	color:#000000;
	background-color:#f5ddf5;
	border:1px solid #000000;
	padding:10px;
}
td{
	border:1px solid #000000;
	font-family:arial,AR PL UMing TW,"細明體";
	padding:10px;
}
pre{
	font-size:16px;
	/*font-family:georgia,verdana,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,Arial,AR PL UMing TW,arial,"細明體";*/
	font-family:georgia,arial,AR PL UMing TW,"細明體";
	color:#000000;
	line-height:130%;
}
a{
	text-decoration:none;
	/*text-decoration:underline;*/
	/*color:#2828d2;*/
	color:#0366d6;
	noFocusLine:expression(this.onFocus=this.blur());
}
:focus{
	-moz-outline-style: none;
}
a:hover{color:#EC42FF;}
hr{
	border: 0;
	/*border-top: 1px solid #888888;*/
	margin: 3px 0;
	width: 700;
	height: 1px;
	/*background-image: linear-gradient(to right, transparent, #ccc, transparent);*/
	background: linear-gradient(to right, #888888 0%, #888888 50%, transparent 100%);
	border-style: none;
}
hr.top{
	width: 700;
	/*height: 2px;*/
	background: linear-gradient(to right, #ca05ff 0%, #ca05ff 80%, transparent 100%);
}
.title{
	font-size:22px;
	font-family:arial,sans serif,Microsoft YaHei,"細明體";
	text-align:justify;
	font-weight: normal;
	color:#ca05ff;
	line-height:130%;
}
.sub-title{
	font-size:20px;
	font-family:arial,sans serif,Microsoft YaHei,"細明體";
	text-align:justify;
	font-weight: normal;
	color:#000000;
	line-height:130%;
}
.menustyle{
	height:auto;
	/*width:403px;/*cols="450px,*"*/
	/*width:350px;/*cols="414px,*"*/
	/*width:350px;/*cols="397px,*"*/
	width:350px;
	margin:6px;
	padding:16px;
	float:left;
	border-radius:12px;
	/*border:1px solid #aabbff;*/
	border:1px solid #aabbff;
	/*background-color:#000000;*/
	/*background-color:#ddeeff;*/
	/*background-color:#f2f8ff;*/
	background-color:#f9fcff;
}
.menubody{
	background-color:#ffffff;
}
.term{
	background-color:#f0f0f0;
	padding: 2px 4px;
	border-radius: 3px;

	font-size:16px;
	font-family:arial,AR PL UMing TW,"細明體";
	font-weight:normal;
	/*color:#c7254e;*/
	/*color:#7e1731;*/
	color:#7e1731;
	text-align:justify;
	letter-spacing:1px;
	line-height:130%;
}
.mark{
	/*background-color:#ccff00;*/
	background:linear-gradient(transparent 60%, rgba(180, 255, 60, 0.8) 0%);

	padding: 0px 0px;
	/*padding: 2px 4px;*/
	/*border-radius: 3px;*/

	font-size:16px;
	font-family:arial,AR PL UMing TW,"細明體";
	font-weight:normal;
	color:#000000;
	text-align:justify;
	letter-spacing:1px;
	line-height:130%;
}
.meta{
	/*background-color: #f1f1ff;*/
	/*background-color: #FfF8Eb;*/
	/*background-color: #FFFFFF;*/
	background-color: #f2f7f7;
	padding: 3px 0px;

	border-radius: 3px;

	font-size:16px;
	font-family:arial,AR PL UMing TW,"細明體";
	font-weight:normal;
	color:#003500;
	text-align:justify;
	letter-spacing:1px;
	line-height:130%;
}
/*code highlight*/
.code{
	height:auto;
	width:70%;
	font-size:16px;
	/*font-family:arial,AR PL UMing TW,"微軟正黑體";*/
	/*font-family: &#39;MS Mincho&#39; ,&#39;AR PL UMing TW&#39; ,&#39;arial&#39; ,&#39;&quot;細明體&quot;&#39;;*/
	font-family:MS Mincho,MS Gothic,AR PL UMing TW,arial,"細明體";
	text-align:left;
	position: absolute;/*Maybe not necessary*/
	margin:0px;
	padding:22px;
	float:left;/*Maybe not necessary*/
	border-radius:12px;
	border:1px solid #999999;
	white-space:pre;
	line-height:1;
	background: #FFFFFF;
	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size:      4;
}
span {
	/*font-family:arial,AR PL UMing TW,"細明體";/* same as body */
	font-family: &#39;MS Mincho&#39; ,&#39;AR PL UMing TW&#39; ,&#39;arial&#39; ,&#39;&quot;細明體&quot;&#39;;
	font-size: 16px;
	color: #000000;
}
.sc0 {
}
.sc1 {
	color: #008000;
}
.sc2 {
	color: #008000;/* comment */
}
.sc4 {
	color: #FF8000;
}
.sc5 {
	color: #0000FF;/* key word */
}
.sc6 {
	color: #FF0000;/* string */
}
.sc7 {
	color: #FF0000;/* char */
}
.sc8 {
	color: #FF0000;/* [[]] */
}
.sc9 {
	color: #804000;/* macro */
}
.sc10 {
	/*font-weight: bold;*/
	color: #000080;
}
.sc11 {
}
.sc13 {
	color: #0080C0;/* API */
}
.sc16 {
	color: #0000FF;/* key word */
}
